@page
@model WarehouseMaster.Pages.VendorList.CreateModel
@{ ViewData["Title"] = "Add Vendor"; }

<br />
<h2 class="text-info">Add a Vendor</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Vendor.vendorName"> Vendor Name</label>
            </div>
            <div class="col-6">
                <input asp-for="Vendor.vendorName" class="form-control" />
            </div>
            <span asp-validation-for="Vendor.vendorName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Vendor.vendorAddress"> Vendor Address</label>
            </div>
            <div class="col-6">
                <input asp-for="Vendor.vendorAddress" class="form-control" />
            </div>
            <span asp-validation-for="Vendor.vendorAddress" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Vendor.vendorPhone"> Vendor Phone</label>
            </div>
            <div class="col-6">
                <input asp-for="Vendor.vendorPhone" class="form-control" />
            </div>
            <span asp-validation-for="Vendor.vendorPhone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Vendor.vendorEmail"> Vendor Email</label>
            </div>
            <div class="col-6">
                <input asp-for="Vendor.vendorEmail" class="form-control" />
            </div>
            <span asp-validation-for="Vendor.vendorEmail" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

