@page
@model WarehouseMaster.Pages.ProductList.EditModel
@{ ViewData["Title"] = "Edit Product"; }
<br />
<h2 class="text-info">Edit Product</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">

        <!--//hidden ID should be there in edit-->
        <input type="hidden" asp-for="Product.productId" />

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.productName"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.productName" class="form-control" />
            </div>
            <span asp-validation-for="Product.productName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.productDesc"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.productDesc" class="form-control" />
            </div>
            <span asp-validation-for="Product.productDesc" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.vendorId"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.vendorId" class="form-control" />
            </div>
            <span asp-validation-for="Product.vendorId" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.vendorName"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.vendorName" class="form-control" />
            </div>
            <span asp-validation-for="Product.vendorName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.productCost"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.productCost" class="form-control" />
            </div>
            <span asp-validation-for="Product.productCost" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.productMargin"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.productMargin" class="form-control" />
            </div>
            <span asp-validation-for="Product.productMargin" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Product.productSellingPrice"></label>
            </div>
            <div class="col-6">
                <input asp-for="Product.productSellingPrice" class="form-control" />
            </div>
            <span asp-validation-for="Product.productSellingPrice" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
