@page
@model WarehouseMaster.Pages.CustomerList.CreateModel

@{ ViewData["Title"] = "Add Customer"; }
<br />
<h2 class="text-info">Add a Customer</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.customerName"> Customer Name</label>
            </div>
            <div class="col-6">
                <input asp-for="Customer.customerName" class="form-control" />
            </div>
            <span asp-validation-for="Customer.customerName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.customerAddress"> Customer Description</label>
            </div>
            <div class="col-6">
                <input asp-for="Customer.customerAddress" class="form-control" />
            </div>
            <span asp-validation-for="Customer.customerAddress" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.customerPhone"> Customer Phone</label>
            </div>
            <div class="col-6">
                <input asp-for="Customer.customerPhone" class="form-control" />
            </div>
            <span asp-validation-for="Customer.customerPhone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.customerEmail"> Customer Email</label>
            </div>
            <div class="col-6">
                <input asp-for="Customer.customerEmail" class="form-control" />
            </div>
            <span asp-validation-for="Customer.customerEmail" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

